### Importing Packages

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.figure_factory as ff
from collections import Counter
import seaborn as sns
import datetime
%matplotlib inline

### Changing the Primarytypes in the dataset (merging the repeatativ values)

In [2]:
f = open("/Users/chandanramanna/Downloads/Cleansed.csv", "rb")
fo = open("/Users/chandanramanna/Downloads/Cleansed_New.csv", "wb")

In [3]:
for line in f:
    if (line[6] == "NON - CRIMINAL"):
        line[6] = "NON-CRIMINAL"
    if (line[6] == "OTHER NARCOTIC VIOLATION"):
        line[6] = "NARCOTICS"
    if (line[6] == "NON-CRIMINAL (SUBJECT SPECIFIED)"):
        line[6] = "NON-CRIMINAL"
    if (line[6] == "CRIM SEXUAL ASSAULT"):
        line[6] = "SEX OFFENSE"
    
    fo.write(line)

### Using the New Dataset

In [4]:
Crime_data = pd.read_csv("/Users/chandanramanna/Downloads/Cleansed_New.csv")

### Data Preview

In [6]:
print(Crime_data.shape)
Crime_data[:3]

(5747134, 23)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,3065389,HJ783520,11/26/2003 05:30:00 AM,062XX S JUSTINE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,...,16.0,67.0,05,1167071.0,1863359.0,2003,04/15/2016 08:55:02 AM,41.780614,-87.663033,"(41.780614126, -87.66303346)"
1,1,3065392,HJ783570,11/26/2003 04:30:00 PM,067XX S HONORE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,...,15.0,67.0,05,1165179.0,1859961.0,2003,04/15/2016 08:55:02 AM,41.771330,-87.670066,"(41.771329829, -87.670065971)"
2,2,3065393,HJ785095,11/27/2003 09:00:00 AM,053XX W NORTH AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,...,37.0,25.0,14,1140231.0,1910112.0,2003,04/15/2016 08:55:02 AM,41.909443,-87.760292,"(41.909443141, -87.760291514)"

### Seperating the Column "Date" which has both Date and Timestamp into two different columns: Date and Time.

In [25]:
#Changing the Datatype of the column "Date" from Object to "datatime" which is readable to pandas
Crime_data["Date"].apply(pd.to_datetime)

temp = pd.DatetimeIndex(Crime_data['Date'])
Crime_data['Date'] = temp.date
Crime_data['Time'] = temp.time

In [8]:
Crime_data[:3]

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
0,0,3065389,HJ783520,2003-11-26,062XX S JUSTINE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,...,67.0,05,1167071.0,1863359.0,2003,04/15/2016 08:55:02 AM,41.780614,-87.663033,"(41.780614126, -87.66303346)",05:30:00
1,1,3065392,HJ783570,2003-11-26,067XX S HONORE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,...,67.0,05,1165179.0,1859961.0,2003,04/15/2016 08:55:02 AM,41.771330,-87.670066,"(41.771329829, -87.670065971)",16:30:00
2,2,3065393,HJ785095,2003-11-27,053XX W NORTH AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,...,25.0,14,1140231.0,1910112.0,2003,04/15/2016 08:55:02 AM,41.909443,-87.760292,"(41.909443141, -87.760291514)",09:00:00

### Extract Month from Date

In [26]:
Crime_data["Date"].apply(pd.Series.to_string)
to_select = Crime_data["Date"]

datee = datetime.datetime.strptime(to_select, "%Y-%m-%d")

Crime_data["Month"] = datee.month

AttributeError: 'datetime.date' object has no attribute 'name'

In [44]:
Crime_data.to_csv("/Users/chandanramanna/Downloads/CrimeData.csv")

KeyboardInterrupt:

In [17]:
Crime_dataframe = pd.read_csv("/Users/chandanramanna/Downloads/CrimeData.csv")

In [20]:
del Crime_dataframe["Unnamed: 0"]
del Crime_dataframe["Unnamed: 0.1"]
Crime_dataframe[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
0,3065389,HJ783520,2003-11-26,062XX S JUSTINE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,67.0,05,1167071.0,1863359.0,2003,04/15/2016 08:55:02 AM,41.780614,-87.663033,"(41.780614126, -87.66303346)",05:30:00
1,3065392,HJ783570,2003-11-26,067XX S HONORE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,67.0,05,1165179.0,1859961.0,2003,04/15/2016 08:55:02 AM,41.771330,-87.670066,"(41.771329829, -87.670065971)",16:30:00
2,3065393,HJ785095,2003-11-27,053XX W NORTH AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,False,...,25.0,14,1140231.0,1910112.0,2003,04/15/2016 08:55:02 AM,41.909443,-87.760292,"(41.909443141, -87.760291514)",09:00:00

In [28]:
print(Crime_data["Year"].dtype)

int64

In [65]:
Crime_data_reduced = Crime_dataframe.loc[Crime_dataframe['Year'] > 2010]

In [63]:
Crime_dataframe.shape

(5747134, 23)

In [64]:
Crime_dataframe[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
0,3065389,HJ783520,2003-11-26,062XX S JUSTINE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,67.0,05,1167071.0,1863359.0,2003,04/15/2016 08:55:02 AM,41.780614,-87.663033,"(41.780614126, -87.66303346)",05:30:00
1,3065392,HJ783570,2003-11-26,067XX S HONORE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,67.0,05,1165179.0,1859961.0,2003,04/15/2016 08:55:02 AM,41.771330,-87.670066,"(41.771329829, -87.670065971)",16:30:00
2,3065393,HJ785095,2003-11-27,053XX W NORTH AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,False,...,25.0,14,1140231.0,1910112.0,2003,04/15/2016 08:55:02 AM,41.909443,-87.760292,"(41.909443141, -87.760291514)",09:00:00

In [66]:
Crime_data_reduced.shape

(1954240, 23)

In [67]:
Crime_data_reduced[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
18,10500187,HZ241477,2016-04-26,028XX E 95TH ST,1121,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,GAS STATION,False,False,...,51.0,10,1196846.0,1842514.0,2016,05/03/2016 03:51:27 PM,41.722725,-87.554566,"(41.722725152, -87.554566354)",20:12:00
82,10500188,HZ241310,2016-04-26,0000X W JACKSON BLVD,0810,THEFT,OVER $500,SIDEWALK,False,False,...,32.0,06,1175785.0,1898975.0,2016,05/03/2016 03:51:27 PM,41.878157,-87.630017,"(41.878156557, -87.630017482)",09:00:00
104,10500189,HZ241506,2016-04-26,054XX W MADISON ST,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,25.0,06,1139904.0,1899485.0,2016,05/03/2016 03:51:27 PM,41.880287,-87.761753,"(41.880287347, -87.761752861)",17:35:00

In [58]:
print(Crime_data_reduced["Time"].dtype)

object

In [68]:
Crime_data_reduced.to_csv("/Users/chandanramanna/Downloads/CrimeData_reduced.csv")

In [41]:
Crime1 = Crime_data_reduced.loc[Crime_data_reduced['Time'] != "00:00:00"]

In [69]:
Crime_data_reduced[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
18,10500187,HZ241477,2016-04-26,028XX E 95TH ST,1121,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,GAS STATION,False,False,...,51.0,10,1196846.0,1842514.0,2016,05/03/2016 03:51:27 PM,41.722725,-87.554566,"(41.722725152, -87.554566354)",20:12:00
82,10500188,HZ241310,2016-04-26,0000X W JACKSON BLVD,0810,THEFT,OVER $500,SIDEWALK,False,False,...,32.0,06,1175785.0,1898975.0,2016,05/03/2016 03:51:27 PM,41.878157,-87.630017,"(41.878156557, -87.630017482)",09:00:00
104,10500189,HZ241506,2016-04-26,054XX W MADISON ST,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,25.0,06,1139904.0,1899485.0,2016,05/03/2016 03:51:27 PM,41.880287,-87.761753,"(41.880287347, -87.761752861)",17:35:00

In [74]:
Crime_data_reduced['Date'] = Crime_data_reduced['Date'].astype('str')

/Users/chandanramanna/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
print(Crime_data_reduced["Date"].dtype)

object

In [72]:
#Crime_data_reduced["Date"].apply(pd.Series.to_string)
to_select = Crime_data_reduced["Date"]

datee = datetime.datetime.strptime(to_select, "%Y-%m-%d")

Crime_data_reduced["Month"] = datee.month

TypeError: strptime() argument 1 must be str, not Series

In [75]:
Crime_data_reduced["Date"] = pd.to_datetime(Crime_data_reduced["Date"])

/Users/chandanramanna/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
print(Crime_data_reduced["Date"].dtype)

datetime64[ns]

In [77]:
Crime_data_reduced['Month'] = Crime_data_reduced['Date'].dt.month

/Users/chandanramanna/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
Crime_data_reduced[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time,Month
18,10500187,HZ241477,2016-04-26,028XX E 95TH ST,1121,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,GAS STATION,False,False,...,10,1196846.0,1842514.0,2016,05/03/2016 03:51:27 PM,41.722725,-87.554566,"(41.722725152, -87.554566354)",20:12:00,4
82,10500188,HZ241310,2016-04-26,0000X W JACKSON BLVD,0810,THEFT,OVER $500,SIDEWALK,False,False,...,06,1175785.0,1898975.0,2016,05/03/2016 03:51:27 PM,41.878157,-87.630017,"(41.878156557, -87.630017482)",09:00:00,4
104,10500189,HZ241506,2016-04-26,054XX W MADISON ST,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,06,1139904.0,1899485.0,2016,05/03/2016 03:51:27 PM,41.880287,-87.761753,"(41.880287347, -87.761752861)",17:35:00,4

In [83]:
Crime_data_reduced.to_csv("/Users/chandanramanna/Downloads/CrimeData_reduced.csv")

In [85]:
#BURGLARY
Crime_data_reduced = Crime_data_reduced.loc[Crime_data_reduced['Primary Type'].isin(["BURGLARY", "THEFT"]) ]

In [86]:
Crime_data_reduced[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
0,3065389,HJ783520,2003-11-26,062XX S JUSTINE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,67.0,05,1167071.0,1863359.0,2003,04/15/2016 08:55:02 AM,41.780614,-87.663033,"(41.780614126, -87.66303346)",05:30:00
1,3065392,HJ783570,2003-11-26,067XX S HONORE ST,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,67.0,05,1165179.0,1859961.0,2003,04/15/2016 08:55:02 AM,41.771330,-87.670066,"(41.771329829, -87.670065971)",16:30:00
4,3065395,HJ784923,2003-11-27,100XX W OHARE ST,0890,THEFT,FROM BUILDING,AIRPORT/AIRCRAFT,False,False,...,76.0,06,1100658.0,1934241.0,2003,04/15/2016 08:55:02 AM,41.976290,-87.905227,"(41.976290414, -87.905227221)",06:00:00